{% extends 'base.html.twig' %}

{% block title %}Messagerie
{% endblock %}

{% block body %}
	<section class="container">
		<div class="row">
			<div class="col">
				<h1>Envoyer un message</h1>
					{{ form_start(form) }}
					{% if app.request.get('titre') and app.request.get('mail') and app.request.get('response') == 'response' %}
					<div class="message">
						<div class="form-group">
							{{ form_label(form.title, 'Titre')}}
							{{ form_widget(form.title, {'attr':{'class':'form-control'}, 'value': 'Re : '~ app.request.get('titre')})}}
						</div>
						<div class="form-group">
							{{ form_label(form.message, 'Message')}}
							{{ form_widget(form.message, {'attr':{'class':'form-control'}})}}
						</div>
						<div class="form-group">
							{{ form_label(form.recipient, 'Destinataire')}}
							{{ form_widget(form.recipient, {'attr':{'class':'form-control'}, 'selected':'selected', 'value':  app.request.get('mail')})}}
						</div>
					</div>
					{% elseif app.request.get('titre') and app.request.get('mail')  %}
					<div class="message">
						<div class="form-group">
							{{ form_label(form.title, 'Titre')}}
							{{ form_widget(form.title, {'attr':{'class':'form-control'}, 'value': 'réponse à : '~ app.request.get('titre')})}}
						</div>
						<div class="form-group">
							{{ form_label(form.message, 'Message')}}
							{{ form_widget(form.message, {'attr':{'class':'form-control'}})}}
						</div>
						<div class="form-group">
							{{ form_label(form.recipient, 'Destinataire')}}
							{{ form_widget(form.recipient, {'attr':{'class':'form-control'}, 'selected':'selected', 'value':  app.request.get('mail')})}}
						</div>
					</div>
					{% else %}
					<div class="message">
						<div class="form-group">
							{{ form_label(form.title, 'Titre')}}
							{{ form_widget(form.title, {'attr':{'class':'form-control'}})}}
						</div>
						<div class="form-group">
							{{ form_label(form.message, 'Message')}}
							{{ form_widget(form.message, {'attr':{'class':'form-control'}})}}
						</div>
						<div class="form-group">
							{{ form_label(form.recipient, 'Destinataire')}}
							{{ form_widget(form.recipient, {'attr':{'class':'form-control'}})}}
						</div>
					</div>
					{% endif %}
					{{ form_end(form) }}
				<br>
				<a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
					Voir mes dossiers
				</a>
			</div>
		</div>
	</section>
	<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
		<div class="offcanvas-header">
			<h2 class="offcanvas-title" id="offcanvasExampleLabel">Mes dossiers</h2>
			<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
            <div class="list-group">
                <a href="{{ path("messages") }}" class="list-group-item list-group-item-action">Accueil</a>
            </div>
            <div class="list-group">
                <a href="{{ path("messages") }}" class="list-group-item list-group-item-action">Boîte de réception</a>
            </div>
            <div class="list-group">
                <a href="{{ path("messages") }}" class="list-group-item list-group-item-action">Eléments envoyés</a>
            </div>
		</div>
	</div>
{% endblock %}
